/*
	メインメニュー対象
*/
body {
    background-color: #00008b;
    margin: 0;
    color: #ffffff;
    font-size:12px;
    font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN',
				 'ヒラギノ角ゴ ProN W3',Meiryo, メイリオ, sans-serif;
} 

table {
	margin-left:50px;
}

td {
	padding:0 10px;
}

 /* リンク */
A:link { 
	color: #ffffff; 
	text-decoration: none;
}  
 /* 既に見たリンク */
A:visited {                
	color: #ffffff;
	text-decoration: none;
}
/* クリック時のリンク */
A:active { 
	color: #ffffff; 
	text-decoration: none;
} 
 /* カーソルが上にある時のリンク */
A:hover {                  
	color: #ffffff;
	text-decoration: none;
}
