/* キャラ紹介ページ用 */
/* 共通 */
hr {
	width: 750px;
}

div.people {
	width:350px;
}

div.text{ 
    margin:5px 5px 5px 10px; 
	padding:0 0 0 160px; 
	min-height:200px; 
    font-size:12px;
    width:700px;
}

div.profile{ 
	padding: 0 0 0 15px; 
	width : 400px;
    font-size:11px;
}

div.profile_i{ 
	padding: 0 0 0 15px; 
	width : 600px;
    font-size:11px;
}

dl{  
 font-size:10px;
}

dt{
	padding: 0 0 0 10px; 
	width : 220px;
	float : left;
	clear : both;
}

dd{    
	padding: 0 0 0 10px; 
	width : 300px;
	margin-left : 160px;
}

/* インセイン用 ======================================================================================== */
/* ガイ=ケッチャム */
div.guy{ background:url("insane/sd/guy.png") no-repeat 3px top;}
/* 鬼形 蒼真 */
div.soma{ background:url("insane/sd/soma.png") no-repeat 3px top;}
/* 谷山 鈴音 */
div.rinne{ background:url("insane/sd/rinne.png") no-repeat 3px top;}
/* 黒井 拓巳 */
div.takumi{ background:url("insane/sd/takumi.png") no-repeat 3px top;}
/* フレデリク・テイラー */
div.fled{ background:url("insane/sd/fled.png") no-repeat 3px top;}
/* 高橋 亮司 */
div.ryoji{ background:url("insane/sd/ryoji.png") no-repeat 3px top;}
/* 斎藤 圭一 */
div.keiichi{ background:url("insane/sd/keiichi.png") no-repeat 3px top;}
/* 田宮 円華 */
div.madoka{ background:url("insane/sd/noImage.png") no-repeat 3px top;}
/* 瀬尾 ちはる */
div.chiharu{ background:url("insane/sd/chiharu.png") no-repeat 3px top;}
/* 木村 清四郎 */
div.kimura{ background:url("insane/sd/noImage.png") no-repeat 3px top;}
/* 時枝 真理 */
div.mari{ background:url("insane/sd/mari.png") no-repeat 3px top;}
/* 二階堂 真守 */
div.mamori{ background:url("insane/sd/mamori.png") no-repeat 3px top;}
/* 渡辺 夕月 */
div.yuduki{ background:url("insane/sd/noImage.png") no-repeat 3px top;}
/* 児玉 巽 */
div.tatumi{ background:url("insane/sd/tatumi.png") no-repeat 3px top;}
/* 廣丘 利彦 */
div.toshihiko{ background:url("insane/sd/noImage.png") no-repeat 3px top;}
/* 蓮見　雅弘 */
div.hasumi{ background:url("insane/sd/noImage.png") no-repeat 3px top;}
/* ジャンヌ=アボット */
div.janne{ background:url("insane/sd/noImage.png") no-repeat 3px top;}
/* 御影 隼人 */
div.hayato{ background:url("insane/sd/noImage.png") no-repeat 3px top;}
/* 春日 茂 */
div.kasuga{ background:url("insane/sd/noImage.png") no-repeat 3px top;}
/* ジャック＝ゴールドブラム */
div.jack{ background:url("insane/sd/noImage.png") no-repeat 3px top;}
/* 天地 栞 */
div.shiori{ background:url("insane/sd/noImage.png") no-repeat 3px top;}

/* マギカロギア用 ======================================================================================== */
div.magi{ 
    margin:5px 5px 5px 10px; 
	padding:0 0 0 310px; 
	min-height:200px; 
    font-size:12px;
    width:700px;
}

/* ベアトリーチェ=パラケルスス */
div.beatrice{ background:url("magi/sd/beatrice.png") no-repeat 3px top;}
/* 穂積 崇仁 */
div.hodumi{ background:url("magi/sd/hodumi.png") no-repeat 3px top;}
/* 月見里 源吾 */
div.gengo_m{ background:url("magi/sd/gengo.png") no-repeat 3px top;}
/* ルートヴィヒ=グリム */
div.ruts{ background:url("magi/sd/ruts.png") no-repeat 3px top;}
/* 小鳥遊 花音 */
div.kanon{ background:url("magi/sd/kanon.png") no-repeat 3px top;}
/* ヘンリー=メイソン */
div.henry{ background:url("magi/sd/henry.png") no-repeat 3px top;}
/* 御厨 暦 */
div.koyomi{ background:url("magi/sd/noImage.png") no-repeat 3px top;}
/* 愛咲 りりむ */
div.ririmu{ background:url("magi/sd/ririmu.png") no-repeat 3px top;}
/* 設楽 誉 */
div.homare{ background:url("magi/sd/homare.png") no-repeat 3px top;}
/* アテナ */
div.atena{ background:url("magi/sd/atena.png") no-repeat 3px top;}

/* ソード・ワールド用 =================================================================================== */
div.sw{ 
    margin:5px 5px 5px 10px; 
	padding:0 0 0 210px; 
	min-height:200px; 
    font-size:12px;
    width:700px;
}

/* コンラート */
div.conrad{ background:url("sw/sd/conrad.png") no-repeat 3px top;}
/* リオル */
div.riol{ background:url("sw/sd/riol.png") no-repeat 3px top;}
/* クリームヒルデ */
div.cream{ background:url("sw/sd/cream.png") no-repeat 3px top;}
/* マクシミリアン */
div.max{ background:url("sw/sd/max.png") no-repeat 3px top;}

/* シノビガミ用 =================================================================================== */
div.shinobi{ 
    margin:5px 5px 5px 10px; 
	padding:0 0 0 210px; 
	min-height:200px; 
    font-size:12px;
    width:700px;
}

/* 斜歯 藍 */
div.aoi{ background:url("shinobi/sd/noimage.png") no-repeat 3px top;}
/* 四之宮 エリカ */
div.erika{ background:url("shinobi/sd/erika.png") no-repeat 3px top;}
/* 乾 泰臣 */
div.inui{ background:url("shinobi/sd/inui.png") no-repeat 3px top;}
/* 白龍 */
div.pairon{ background:url("shinobi/sd/pairon.png") no-repeat 3px top;}

/* CoC用 =================================================================================== */
div.coc{ 
    margin:5px 5px 5px 10px; 
	padding:0 0 0 210px; 
	min-height:200px; 
    font-size:12px;
    width:700px;
}

/* シュガレット＝クオリア */
div.sugar{ background:url("coc/sd/sugar.png") no-repeat 3px top;}
/* 嘉神 探 */
div.saguru{ background:url("coc/sd/saguru.png") no-repeat 3px top;}
/* 黒雲 武流 */
div.takeru{ background:url("coc/sd/takeru.png") no-repeat 3px top;}
/* 有栖川 つぐみ */
div.alice{ background:url("coc/sd/alice.png") no-repeat 3px top;}
/* レオン */
div.leon{ background:url("coc/sd/leon.png") no-repeat 3px top;}
/* 月見里 源吾 */
div.gengo{ background:url("coc/sd/gengo.png") no-repeat 3px top;}
/* 藤堂 晴海 */
div.harumi{ background:url("coc/sd/harumi.png") no-repeat 3px top;}
/* 設楽 正宗 */
div.shitara{ background:url("coc/sd/shitara.png") no-repeat 3px top;}
/* アーガス・ザ・アンドロイド */
div.argus{ background:url("coc/sd/argus.png") no-repeat 3px top;}
/* 高峰 晶 */
div.akira{ background:url("coc/sd/akira.png") no-repeat 3px top;}
/* 嘉神 悠真 */
div.yuma{ background:url("coc/sd/yuma.png") no-repeat 3px top;}
/* 斎藤 大和 */
div.yamato{ background:url("coc/sd/noimage.png") no-repeat 3px top;}
/* レベッカ=ブルックス */
div.rebeka{ background:url("coc/sd/noimage.png") no-repeat 3px top;}
/* フレデリク・テイラー */
div.fred{ background:url("coc/sd/fred.png") no-repeat 3px top;}
/* 長谷川 景介 */
div.kesuke{ background:url("coc/sd/noimage.png") no-repeat 3px top;}
/* 白咲 真守 */
div.mamori{ background:url("coc/sd/mamori.png") no-repeat 3px top;}
/* 土御門 理玖 */
div.riku{ background:url("coc/sd/riku.png") no-repeat 3px top;}
/* 角谷 群太 */
div.gunta{ background:url("coc/sd/noimage.png") no-repeat 3px top;}





